
.clearfix {
    overflow: auto;
  }
#casilla{
    margin-top: 25px;
}
.resaltado{
    font-weight: 700;
    }
.img2 {
    float: left;
    }
.cursiva{
    font-style: italic;
    }
.lobster{
    font-family: 'Lobster', cursive; 
    color: white;
    }
.fondo-imagen{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    color: white;
    }
.blanco{
    color: white;
}
.negroo{
    background-color: black;
    height: 80px;
}
.blanco{
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}

/*/ news cards /*/
.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 25px;
}
.news-cards img{
    width: 100%;
    height: 300px;
}
.contactou{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.clearfix {
    overflow: auto;
  }
#topardo{
    margin-top: 30px;
  }